/*
font-family: 'Alfa Slab One', sans-serif;
font-family: 'Comforter Brush', sans-serif;
font-family: 'Lato', sans-serif;

*/
body{
/*background-color: white;*/
}

h1{
	font-family: 'Lato', sans-serif;
	background-color: #ccfde;
}
.para1{
	font-family: 'Lato', sans-serif;
}
.para2{
	font-family: 'Lato', sans-serif;
}